.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2rem 1rem 2rem;
    background: rgb(31,6,48);
    background: linear-gradient(180deg, rgba(15, 3, 23, 0.795) 82%, rgba(40,8,62,1) 87%, rgba(77,49,96,1) 90%, rgba(135,71,177,1) 92%, rgba(255,255,255,1) 95%, rgba(135,71,177,1) 98%, rgba(77,49,96,1) 100%);
}

.logo{
    width: 8rem;
    transition: 220ms;
    transform: scale(1.1);
}
.logo:hover{
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px #4a1873) drop-shadow(0 0 20px #581e7a) contrast(1) brightness(1);
}

.searchCreate{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.createGame {
    background-color: #00000000;
    color: #76258d;
    border: 2px solid #6c2291;
    border-radius:15px;
    padding: 6px 12px;
    font-size: 15px;
    font-family: tahoma;
    letter-spacing:3px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 5px #4a1873) drop-shadow(0 0 20px #581e7a) contrast(2) brightness(2);
    transition: .5s;
}
  
.createGame:hover {
    color: rgb(31,6,48);
    background-color: #5f2685;
    filter: drop-shadow(0 0 15px #6f2492) contrast(2) brightness(2);
}